.rbc-toolbar {
    background-color: black;
    color: white
}

.rbc-btn-group button {
    color: white;
}

.rbc-event {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.rbc-event.rbc-selected {
    border-color: white;
    background-color: black;
}

.rbc-event-content {
    color: white
}
  