.detail-page-container {
    min-height: 50vh;
    margin: 0;
    background-color: var(--background-color);
    padding: 100px 0;
}

.custom-border-radius {
    border-radius: 1rem;
}

.image-container {
    display: flex;
    justify-content: center;
    height: 45vh;
}

.equipment-details {
    height: fit-content;
    border-left: 1px solid rgb(240, 240, 240);
    position: sticky;
    top: 25px;
}

.mobile-go-back-row {
    display: none !important; 
    padding-bottom: 40px;
}

.back-arrow {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8vw;
    padding: 1vw;
    font-size: 2rem;
    border-radius: 50%;
    border: 3px solid rgb(194, 194, 194);
    box-shadow: 0 0 30px -15px black;
}

.back-arrow svg {
    position: relative;
    left: -2px;
    color: rgb(114, 114, 114) !important;
}

@media (max-width: 990px) {
    .detail-page-container {
        padding: 0;
    }

    .detail-main-row {
        max-width: 100vw;
        margin: 0;
    }

    .image-calendar-col {
        padding: 0;
    }

    .calendar-row {
        max-width: 100vw;
        margin: 0;
    }

    .custom-border-radius {
        border-radius: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .image-container {
        width: 95vw;
        margin: auto;
    }
    .equipment-details {
        width: 95vw;
        margin: auto;
    }
}

@media (max-width: 767px) {
    .mobile-go-back-row {
        display:flex !important;
    }
}