.about-container {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 25px -20px black;
}

.background-fixed {
    background-attachment: fixed;
}

.about-title {
    padding: 8vh 0 5vh 0;
    font-size: 4rem;
}

.about-subtitle {
    padding: 5vh 0 0 4rem;
    margin: 0;
    font-size: 2.5rem;
    text-align: left;
}

.about-content {
    font-size: 1.5rem;
    padding: 0 3rem;
    padding-bottom: 8vh;
}

.flex-center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.border-left {
    border-left: 1px solid rgb(210, 210, 210);
    padding-left: 15px;
}
.border-right {
    border-right: 1px solid rgb(210, 210, 210);
    padding-right: 15px;
}

.img-left {
    border-radius: 0 1rem 0 1rem;
    box-shadow: 0 0 60px -20px black;
}
.img-right {
    border-radius: 1rem 0 1rem 0;
    box-shadow: 0 0 60px -20px black;
}